# Dependencias
node_modules/

# Archivos de build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.local

# ¡IMPORTANTE! Archivo con tus credenciales de Firebase
# Nunca subas este archivo a un repositorio público.
firebase.ts